<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Olvidé mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card>
    <ion-card-content>
      <ion-img src="assets/icon/forgot.jpg"></ion-img>
      <div style="color: black; font-size: 24px;">
        No te preocupes, a todos nos ha pasado
      </div>
      <div style="text-align: justify; margin: 10px 0px;">
        Te permite actualizar tu contraseña actual por una más segura, protegiendo tu cuenta.
      </div>
      <form [formGroup]="forgotPasswordForm">
        <ion-list style="background-color: transparent;">
          <ion-item fill="outline" class="loginForm">
            <ion-label position="floating">Correo Electrónico o Usuario</ion-label>
            <ion-input (keypress)="validateEmail($event)" (input)="checkEmail()" formControlName="email"
              maxlength="50"></ion-input>
            <ion-icon name="mail-outline" slot="end" fill="clear" color="dark"></ion-icon>

          </ion-item>
          <div style="display: flex; flex-direction: column; margin-left: 10px; margin-bottom: 5px;">
            <ion-note *ngIf="forgotPasswordForm.controls['email'].hasError('pattern')" slot="error">
              {{ 'CHARACTER_NOT_ALLOWED' | translate }}
            </ion-note>
            <ion-note *ngIf="forgotPasswordForm.controls['email'].hasError('minlength')" slot="error">
              {{ 'MIN_CHARACTER_REQUIRED' | translate }}
            </ion-note>
          </div>

          <ion-item fill="outline" class="loginForm"
            *ngIf="forgotPasswordForm.controls['email'].value !== '' && forgotPasswordForm.get('email')?.touched">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input (keypress)="validatePassword($event)" (input)="checkPassword()" formControlName="password"
              [type]="passwordVisibility ? 'password' : 'text'" maxlength="20">
            </ion-input>
            <ion-button slot="end" fill="clear" (click)="showPassword()">
              <ion-icon *ngIf="passwordVisibility === false" name="eye-outline" class="iconEye" color="dark"></ion-icon>
              <ion-icon *ngIf="passwordVisibility === true" name="eye-off-outline" class="iconEye"
                color="dark"></ion-icon>
            </ion-button>
          </ion-item>
          <div style="display: flex; flex-direction: column; margin-left: 10px;">
            <ion-note *ngIf="forgotPasswordForm.controls['password'].hasError('pattern')" slot="error">
              {{ 'CHARACTER_NOT_ALLOWED' | translate }}
            </ion-note>
            <ion-note *ngIf="forgotPasswordForm.controls['password'].hasError('minlength')" slot="error">
              {{ 'MIN_CHARACTER_REQUIRED' | translate }}
            </ion-note>
          </div>
        </ion-list>
      </form>

      <ion-button [disabled]="forgotPasswordForm.invalid" (click)="forgotPassword(forgotPasswordForm.value)"
        class="loginButton" color="primary">Cambiar contraseña
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>