
ion-title{

  text-align:center; 
  
  color:white;
  
  width: 83px;
  
  border-radius: 4px;
  
  background: linear-gradient(to bottom,black, rgb(55, 0, 255),black );

  margin-left:auto ;
  
  margin-right:15px;
  }

ion-card{

padding: 10px;

background-repeat: no-repeat;

color: white;

}

div{

text-align: center;

margin-top: 5px;

margin-bottom: 5px;


}

* {
    font-family: 'segoeui';
  }