.registerButton {
  align-items: center;
  justify-content: center;
  display: grid;



}

.iconEye {
  font-size: 24px;
  vertical-align: middle;


}

.registerForm {
  margin-bottom: 10px;


}

* {
  font-family: 'segoeui';
}