.registerButton {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 100%;
}

.iconEye {
  font-size: 24px;
  vertical-align: middle;
}

.registerForm {
  margin-bottom: 10px;
}

.card-subtitle {
  text-align: center;
}

// * {
//   font-family: 'segoeui';
// }


ion-card-title {

  padding: 10px;

  margin: auto;

  width: 200px;

  border-radius: 10px;


}

ion-title {

  color: white;

  width: 90px;

  margin-left: auto;

  margin-right: 8px;
}

/*********************************************/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 2vmin;
  background: rgb(0, 0, 0);
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;

}

h2 {
  font-size: 9vmin;
  position: absolute;

}

.border {
  color: rgb(0, 153, 255);
  text-shadow:
    -1px -1px 0 rgb(7, 7, 7),
    1px -1px 0 rgb(4, 4, 4),
    -1px 1px 0 rgb(3, 3, 3),
    1px 1px 0 rgb(1, 1, 1);
}

.wave {
  color: rgb(255, 255, 255);
  animation: wave 3s ease-in-out infinite;
}

.two {
  transform: translateY(0.8em);
}

.three {
  transform: translateY(-0.8em);
}

@keyframes wave {

  0%,
  100% {
    clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}


.data-container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contenedor {
  display: flex;
  width: 400px;
  height: 40px;
  color: white;
  // font-size: 28px;
  line-height: 40px;
  overflow: hidden;
  justify-content: center;
}

ul {
  list-style: none;
  padding-left: 10px;
  animation: cambiar 20s infinite;
}

ul,
p {
  margin: 0;
}

@keyframes cambiar {

  0% {
    margin-top: 0;
  }

  20% {
    margin-top: 0;
  }

  25% {
    margin-top: -40px;
  }

  50% {
    margin-top: -40px;
  }

  55% {
    margin-top: -80px;
  }

  80% {
    margin-top: -80px;
  }

  85% {
    margin-top: -40px;
  }

  95% {
    margin-top: -40px;
  }


}