<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Empecemos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="dark">Crear cuenta</ion-card-title>
      <ion-card-subtitle class="card-subtitle">Es rápido y sencillo</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="assets/icon/registro.jpg"></ion-img>
      <form [formGroup]="formularioRegistro">
        <ion-list>
          <ion-item counter="true" fill="outline" class="registerForm">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input (input)="checkFirstName()" (keypress)="validateName($event)" formControlName="firstname"
              maxlength="30"></ion-input>
            <ion-note
              *ngIf="formularioRegistro.controls['firstname'].hasError('required') && formularioRegistro.get('firstname')?.touched"
              slot="error">
              {{ 'REQUIRED' | translate }}
            </ion-note>
            <ion-note *ngIf="formularioRegistro.controls['firstname'].hasError('pattern')" slot="error">
              {{ 'CHARACTER_NOT_ALLOWED' | translate }}
            </ion-note>
          </ion-item>

          <ion-item counter="true" fill="outline" class="registerForm">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input (input)="checkLastName()" (keypress)="validateName($event)" formControlName="lastname"
              maxlength="30"></ion-input>
            <ion-note
              *ngIf="formularioRegistro.controls['lastname'].hasError('required') && formularioRegistro.get('lastname')?.touched"
              slot="error">
              {{ 'REQUIRED' | translate }}
            </ion-note>
            <ion-note *ngIf="formularioRegistro.controls['lastname'].hasError('pattern')" slot="error">
              {{ 'CHARACTER_NOT_ALLOWED' | translate }}
            </ion-note>
          </ion-item>

          <ion-item counter="true" fill="outline" class="registerForm">
            <ion-label position="floating">Correo Electrónico o Usuario</ion-label>
            <ion-input (keypress)="validateEmail($event)" (input)="checkEmail()" formControlName="email"
              maxlength="15"></ion-input>
            <ion-note *ngIf="formularioRegistro.controls['email'].hasError('pattern')" slot="error">
              {{ 'CHARACTER_NOT_ALLOWED' | translate }}
            </ion-note>
            <ion-note
              *ngIf="formularioRegistro.controls['email'].hasError('required') && formularioRegistro.get('email')?.touched"
              slot="error">
              {{ 'REQUIRED' | translate }}
            </ion-note>
          </ion-item>

          <ion-item counter="true" fill="outline" class="registerForm">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input (keypress)="validatePassword($event)" (input)="checkPassword()" formControlName="password"
              [type]="passwordVisibility ? 'password' : 'text'" maxlength="20">
            </ion-input>
            <ion-button slot="end" fill="clear" (click)="showPassword()">
              <ion-icon *ngIf="passwordVisibility === false" name="eye-outline" class="iconEye"></ion-icon>
              <ion-icon *ngIf="passwordVisibility === true" name="eye-off-outline" class="iconEye"></ion-icon>
            </ion-button>
            <ion-note style="display: flex; flex-direction: column; "
              *ngIf="formularioRegistro.controls['password'].hasError('pattern')" slot="error">
              <p>El campo Contraseña debe cumplir con las siguientes especificaciones:</p>
              <p>- Al menos una letra en mayúscula.</p>
              <p>- Al menos una letra en minúscula.</p>
              <p>- Al menos un valor numérico.</p>
              <p>- Al menos un carácter especial.</p>
              <p>- Mínimo: 6 caracteres."</p>
              <p>- Máximo: 20 caracteres.</p>
            </ion-note>
            <ion-note
              *ngIf="formularioRegistro.controls['password'].hasError('required') && formularioRegistro.get('password')?.touched"
              slot="error">
              {{ 'REQUIRED' | translate }}
            </ion-note>
          </ion-item>

          <div class="register-text" [routerLink]="'/login'">¿Ya tienes una cuenta?</div>
        </ion-list>



        <ion-button [disabled]="formularioRegistro.invalid" (click)="register(formularioRegistro.value)"
          class="registerButton" color="dark">Registrarte
        </ion-button>
        <!-- <ion-button (click)="test()">Test Registro</ion-button> -->

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>