<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asistentes de Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="message-list">
    <ion-item *ngFor="let message of messages" class="message">
      <div [ngClass]="{'message-sender': message.isSender, 'message-receiver': !message.isSender}">
        {{ message.text }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar [formGroup]="form">
    <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje..." class="message-input"
      (keyup.enter)="assistant()" formControlName="prompt"></ion-input>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="assistant()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>