<ion-menu [type]="'reveal'" contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="profile === 1" class="ion-padding">
    <div *ngFor="let route of routesAdmin">
      <ion-item [routerLink]="route.route">
        <ion-label>
          {{ route.title }}
        </ion-label>
      </ion-item>
    </div>
  </ion-content>
  <ion-content *ngIf="profile === 2" class="ion-padding">
    <div *ngFor="let route of routesUser">
      <ion-item [routerLink]="route.route">
        <ion-label>
          {{ route.title }}
        </ion-label>
      </ion-item>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-button><ion-menu-button></ion-menu-button></ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button *ngIf="profile === 1" [routerLink]="'/chat-bot'">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline" class="icon"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Player Stats Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid class="grid-container">
      <ion-row class="row-container">
        <ion-col class="empty-half">
          <ion-card color="warning" style="border-radius: 5px; height: 96%;">
            <ion-buttons color="light">
              <ion-button (click)="playerChart('bar')">
                <ion-icon name="refresh-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-content>
              <div *ngFor="let data of datas" style="text-align: center; font-size: 17px;">
                {{ data.player.firstname }} {{ data.player.lastname }}
              </div>
              <div style="position: relative; margin: auto; height: 300;">
                <canvas id="chart" #chart></canvas>
              </div>
              <div *ngFor="let data of datas">
                <h2> Equipo: {{ data.statistics[0].team.name }} </h2>
                <h2> Posición: {{ data.statistics[0].game.position }} </h2>
                <h2> Liga: {{ data.statistics[0].league.name }} </h2>
                <h2> Nacionalidad: {{ data.player.nationality }} </h2>
                <h2> Pases: {{ data.statistics[0].dribble.success === null ? 0 : data.statistics[0].dribble.success
                  }}
                </h2>
              </div>
            </ion-card-content>

          </ion-card>
        </ion-col>
      </ion-row>

      <!-- ADMINISTRATOR -->
      <ion-row *ngIf="profile === 1" class="row-container">
        <ion-col class="buttons-half">
          <ion-button [routerLink]="'/statistics'" expand="block" color="danger" class="custom-button">
            <div class="content-button">
              <ion-icon name="stats-chart-outline"></ion-icon>
              <span>Estadistícas</span>
            </div>
          </ion-button>
          <ion-button [routerLink]="'/add-team'" expand="block" color="success" class="custom-button">
            <div class="content-button">
              <ion-icon name="people-outline"></ion-icon>
              <span>Equipos</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col class="buttons-half">
          <ion-button [routerLink]="'/add-player'" expand="block" color="primary" class="custom-button">
            <div class="content-button">
              <ion-icon name="person-add-outline"></ion-icon>
              <span>Jugador</span>
            </div>
          </ion-button>
          <ion-button [routerLink]="'/users'" expand="block" color="warning" class="custom-button">
            <div class="content-button">
              <ion-icon name="person-outline"></ion-icon>
              <span>Usuarios</span>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- USER -->
      <ion-row *ngIf="profile === 2" class="row-container">
        <ion-col class="buttons-half">
          <ion-button [routerLink]="'/statistics'" expand="block" color="danger" class="custom-button">
            <div class="content-button">
              <ion-icon name="stats-chart-outline"></ion-icon>
              <span>Estadistícas</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col class="buttons-half">
          <ion-button [routerLink]="'/chat-bot'" expand="block" color="success" class="custom-button">
            <div class="content-button" style="overflow: hidden; text-overflow: ellipsis; white-space: break-spaces;">
              <ion-icon name="chatbubbles-outline"></ion-icon>
              <span>Asistente Virtual</span>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>