.iconEye {
  font-size: 24px;
  vertical-align: middle;
}

.loginButton {
  align-items: center;
  justify-content: center;
  display: grid;
}

.loginForm {
  margin-bottom: 10px;
}

* {
  font-family: 'segoeui';
}

ion-card-title{

  background-color:rgb(226, 226, 226) ;  
  
  padding: 10px;
  
  margin: auto;
  
  width: 200px;
  
  border-radius: 30px;
  
  
  }