<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <div class="contenedor">
        <p>Player Stats Tracker</p>
        <ul>
          <li>es sistema</li>
          <li>es información</li>
          <li>es tecnología</li>
        </ul>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card style="height: 98%;">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <div class="data-container">
          Inicia Sesión
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="assets/icon/login.jpg"></ion-img>
      <form [formGroup]="formularioLogin">
        <ion-list>
          <ion-item fill="outline" class="loginForm">
            <ion-label position="floating">Correo Electrónico o Usuario</ion-label>
            <ion-input (keypress)="validateEmail($event)" (input)="checkEmail()" formControlName="email"
              maxlength="50"></ion-input>
            <ion-icon name="mail-outline" slot="end" fill="clear"></ion-icon>
            <ion-note *ngIf="formularioLogin.controls['email'].hasError('pattern')" slot="error">
              Correo Electrónico inválido
            </ion-note>
            <ion-note
              *ngIf="formularioLogin.controls['email'].hasError('required') && formularioLogin.get('email')?.touched"
              slot="error">
              Correo Electrónico es requerido
            </ion-note>
          </ion-item>

          <ion-item fill="outline" class="loginForm">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input (keypress)="validatePassword($event)" (input)="checkPassword()" formControlName="password"
              [type]="passwordVisibility ? 'password' : 'text'" maxlength="20">
            </ion-input>
            <ion-button slot="end" fill="clear" (click)="showPassword()">
              <ion-icon *ngIf="passwordVisibility === false" name="eye-outline" class="iconEye"></ion-icon>
              <ion-icon *ngIf="passwordVisibility === true" name="eye-off-outline" class="iconEye"></ion-icon>
            </ion-button>
            <ion-note *ngIf="formularioLogin.controls['password'].hasError('pattern')" slot="error">
              Contraseña inválido
            </ion-note>
            <ion-note
              *ngIf="formularioLogin.controls['password'].hasError('required') && formularioLogin.get('password')?.touched"
              slot="error">
              Contraseña es requerido
            </ion-note>
          </ion-item>
        </ion-list>
      </form>

      <div class="forgot-password">
        ¿Olvidaste la contraseña?
      </div>

      <ion-button [disabled]="formularioLogin.invalid" (click)="login(formularioLogin.value)"
        class="loginButton">Iniciar Sesión
      </ion-button>

      <div class="register">
        ¿No tienes una cuenta? <div style="font-weight: bold; color: black; margin-left: 5px;" [routerLink]="'/register'">Regístrate</div>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/register']">Regístrate</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->