<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container navigation="true" pagination="true">
    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Jugador</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="player">
            <ion-item counter="true" class="full-width">
              <ion-label position="floating">Nombre</ion-label>
              <ion-input fill="outline" placeholder="Ej: Alan Walker" (keypress)="validateText($event)"
                formControlName="name" maxlength="50"></ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.name')?.hasError('required') && addPlayerForm.get('player.name')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.name')?.hasError('maxlength')">
                El nombre no debe exceder los 50 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.name')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" class="full-width">
              <ion-label position="floating">Nombres</ion-label>
              <ion-input fill="outline" placeholder="Ej: Alan Olav" (keypress)="validateText($event)"
                formControlName="firstname" maxlength="50"></ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.firstname')?.hasError('required') && addPlayerForm.get('player.firstname')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.firstname')?.hasError('maxlength')">
                Nombres no debe exceder los 50 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.firstname')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" class="full-width">
              <ion-label position="floating">Apellidos</ion-label>
              <ion-input fill="outline" placeholder="Ej: Walker" (keypress)="validateText($event)"
                formControlName="lastname" maxlength="50"></ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.lastname')?.hasError('required') && addPlayerForm.get('player.lastname')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.lastname')?.hasError('maxlength')">
                Apellidos no debe exceder los 50 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.lastname')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" class="full-width">
              <ion-label position="floating">Edad</ion-label>
              <ion-input fill="outline" placeholder="Ej: 20" type="number" formControlName="age" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.age')?.hasError('required') && addPlayerForm.get('player.age')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.age')?.hasError('maxDigitsExceeded')">
                Edad no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;" *ngIf="addPlayerForm.get('player.age')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" class="full-width">
              <ion-label position="floating">Fecha de Nacimiento</ion-label>
              <ion-input mask="00/00/0000" placeholder="Ej: 01-05-2013" type="number" maxlength="8" fill="outline" formControlName="birth">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.birth')?.hasError('required') && addPlayerForm.get('player.birth')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.birth')?.hasError('maxDigitsExceeded')">
                Fecha no debe exceder los 8 caracteres.
              </ion-note>
            </ion-item>

            <ion-item counter="true" class="full-width">
              <ion-label position="floating">Nacionalidad</ion-label>
              <ion-input fill="outline" placeholder="Ej: Veneco" (keypress)="validateText($event)"
                formControlName="nationality" maxlength="20">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.nationality')?.hasError('required') && addPlayerForm.get('player.nationality')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.nationality')?.hasError('maxlength')">
                Nacionalidad no debe exceder los 20 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.nationality')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" class="full-width">
              <ion-label position="floating">Altura</ion-label>
              <ion-input fill="outline" placeholder="Ej: 1.20" type="number" formControlName="height" maxlength="4">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.height')?.hasError('required') && addPlayerForm.get('player.height')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.height')?.hasError('maxDigitsExceeded')">
                Altura no debe exceder los 4 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.height')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" class="full-width">
              <ion-label position="floating">Peso</ion-label>
              <ion-input fill="outline" placeholder="Ej: 82" type="number" formControlName="weight" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.weight')?.hasError('required') && addPlayerForm.get('player.weight')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.weight')?.hasError('maxDigitsExceeded')">
                Peso no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.weight')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" class="full-width">
              <ion-label position="floating">URL imagen</ion-label>
              <ion-input fill="outline" placeholder="Ej: https://google.com" formControlName="photo" maxlength="50">
              </ion-input>
            </ion-item>

            <ion-item counter="true" class="full-width">
              <ion-select fill="outline" label="Equipos" placeholder="Selecciona un equipo" formControlName="id_team">
                <ion-select-option *ngFor="let team of teams" [value]="team.id">{{team.name}}</ion-select-option>
              </ion-select>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('player.id_team')?.hasError('required') && addPlayerForm.get('player.id_team')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>

      <!-- <ion-card class="jugador-list-card">
          <ion-list>
            <ion-list-header>
              <ion-label>Lista de Jugadores</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let jugador of jugadores">
              {{ jugador.nombre }} {{ jugador.apellido }} - Edad: {{ jugador.edad }} - Posición: {{ jugador.posicion }}
            </ion-item>
          </ion-list>
        </ion-card> -->
    </swiper-slide>
    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos del Partido</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="game">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Partidos jugados</ion-label>
              <ion-input placeholder="Ej: 12" type="number" formControlName="appearences" maxlength="3"></ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.appearences')?.hasError('required') && addPlayerForm.get('game.appearences')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.appearences')?.hasError('maxDigitsExceeded')">
                Partidos jugados no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.appearences')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Titularidades</ion-label>
              <ion-input placeholder="Ej: 20" type="number" formControlName="lineups" maxlength="3"></ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.lineups')?.hasError('required') && addPlayerForm.get('game.lineups')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.lineups')?.hasError('maxDigitsExceeded')">
                Titularidades no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.lineups')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Minutos jugados</ion-label>
              <ion-input placeholder="Ej: 521" type="number" formControlName="minutes" maxlength="5"></ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.minutes')?.hasError('required') && addPlayerForm.get('game.minutes')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.minutes')?.hasError('maxDigitsExceeded')">
                Minutos jugados no debe exceder los 5 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.minutes')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Dorsal</ion-label>
              <ion-input placeholder="Ej: 20" type="number" formControlName="number" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.number')?.hasError('required') && addPlayerForm.get('game.number')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.number')?.hasError('maxDigitsExceeded')">
                Dorsal no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.number')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Posición</ion-label>
              <ion-input placeholder="Ej: Attacker" (keypress)="validateText($event)" formControlName="position"
                maxlength="20">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.position')?.hasError('required') && addPlayerForm.get('game.position')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.position')?.hasError('maxlength')">
                Posición no debe exceder los 20 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.position')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Valoración por partidos</ion-label>
              <ion-input placeholder="Ej: 2" type="number" formControlName="rating" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.rating')?.hasError('required') && addPlayerForm.get('game.rating')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.rating')?.hasError('maxDigitsExceeded')">
                Valoración por partidos no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.rating')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-select label="Equipos" placeholder="¿Es el jugador un capitán?" formControlName="captain">
                <ion-select-option *ngFor="let captain of captainList"
                  [value]="captain.id">{{captain.description}}</ion-select-option>
              </ion-select>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('game.captain')?.hasError('required') && addPlayerForm.get('game.captain')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Sustitutos</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="substitute">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Ingresos</ion-label>
              <ion-input placeholder="Ej: 1" type="number" formControlName="in" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('substitute.in')?.hasError('required') && addPlayerForm.get('substitute.in')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('substitute.in')?.hasError('maxDigitsExceeded')">
                Ingreso no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('substitute.in')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Sustituidos</ion-label>
              <ion-input placeholder="Ej: 3" type="number" formControlName="out" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('substitute.out')?.hasError('required') && addPlayerForm.get('substitute.out')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('substitute.out')?.hasError('maxDigitsExceeded')">
                Sustituidos no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('substitute.out')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Banqueados</ion-label>
              <ion-input placeholder="Ej: 5" type="number" formControlName="bench" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('substitute.bench')?.hasError('required') && addPlayerForm.get('substitute.bench')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('substitute.bench')?.hasError('maxDigitsExceeded')">
                Banqueados no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('substitute.bench')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Disparos</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="shot">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Total disparos</ion-label>
              <ion-input placeholder="Ej: 12" type="number" formControlName="total" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('shot.total')?.hasError('required') && addPlayerForm.get('shot.total')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('shot.total')?.hasError('maxDigitsExceeded')">
                Total disparos no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;" *ngIf="addPlayerForm.get('shot.total')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Al arco</ion-label>
              <ion-input placeholder="Ej: 3" type="number" formControlName="on" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('shot.on')?.hasError('required') && addPlayerForm.get('shot.on')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('shot.on')?.hasError('maxDigitsExceeded')">
                Al arco no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;" *ngIf="addPlayerForm.get('shot.on')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Goles</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="goal">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Total goles</ion-label>
              <ion-input placeholder="Ej: 4" type="number" formControlName="total" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('goal.total')?.hasError('required') && addPlayerForm.get('goal.total')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('goal.total')?.hasError('maxDigitsExceeded')">
                Total goles no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;" *ngIf="addPlayerForm.get('goal.total')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Goles recibidos</ion-label>
              <ion-input placeholder="Ej: 2" type="number" formControlName="conceded" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('goal.conceded')?.hasError('required') && addPlayerForm.get('goal.conceded')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('goal.conceded')?.hasError('maxDigitsExceeded')">
                Goles recibidos no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('goal.conceded')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Asistencias</ion-label>
              <ion-input placeholder="Ej: 1" type="number" formControlName="assists" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('goal.assists')?.hasError('required') && addPlayerForm.get('goal.assists')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('goal.assists')?.hasError('maxDigitsExceeded')">
                Asistencias no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('goal.assists')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Goles salvados</ion-label>
              <ion-input placeholder="Ej: 0" type="number" formControlName="saves" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('goal.saves')?.hasError('required') && addPlayerForm.get('goal.saves')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('goal.saves')?.hasError('maxDigitsExceeded')">
                Goles salvados no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;" *ngIf="addPlayerForm.get('goal.saves')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Passes</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="passe">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Total pases</ion-label>
              <ion-input placeholder="Ej: 50" type="number" formControlName="total" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('passe.total')?.hasError('required') && addPlayerForm.get('passe.total')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('passe.total')?.hasError('maxDigitsExceeded')">
                Total pases no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('passe.total')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Pases claves</ion-label>
              <ion-input placeholder="Ej: 5" type="number" formControlName="key" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('passe.key')?.hasError('required') && addPlayerForm.get('passe.key')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('passe.key')?.hasError('maxDigitsExceeded')">
                Pases claves no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;" *ngIf="addPlayerForm.get('passe.key')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Precisión del pase</ion-label>
              <ion-input placeholder="Ej: 7" type="number" formControlName="accuracy" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('passe.accuracy')?.hasError('required') && addPlayerForm.get('passe.accuracy')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('passe.accuracy')?.hasError('maxDigitsExceeded')">
                Precisión del pase no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('passe.accuracy')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Entradas</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="tackle">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Total entradas</ion-label>
              <ion-input placeholder="Ej: 6" type="number" formControlName="total" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('tackle.total')?.hasError('required') && addPlayerForm.get('tackle.total')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('tackle.total')?.hasError('maxDigitsExceeded')">
                Total entradas no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('tackle.total')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Entrada bloqueadas</ion-label>
              <ion-input placeholder="Ej: 4" type="number" formControlName="blocks" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('tackle.blocks')?.hasError('required') && addPlayerForm.get('tackle.blocks')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('tackle.blocks')?.hasError('maxDigitsExceeded')">
                Entrada bloqueadas no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('tackle.blocks')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Intercepción del pase</ion-label>
              <ion-input placeholder="Ej: 3" type="number" formControlName="interceptions" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('tackle.interceptions')?.hasError('required') && addPlayerForm.get('tackle.interceptions')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('tackle.interceptions')?.hasError('maxDigitsExceeded')">
                Intercepción del pase no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('tackle.interceptions')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Duelos</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="duel">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Total duelos</ion-label>
              <ion-input placeholder="Ej: 2" type="number" formControlName="total" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('duel.total')?.hasError('required') && addPlayerForm.get('duel.total')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('duel.total')?.hasError('maxDigitsExceeded')">
                Total duelos no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;" *ngIf="addPlayerForm.get('duel.total')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Duelos ganados</ion-label>
              <ion-input placeholder="Ej: 1" type="number" formControlName="won" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('duel.won')?.hasError('required') && addPlayerForm.get('duel.won')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('duel.won')?.hasError('maxDigitsExceeded')">
                Duelos ganados no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;" *ngIf="addPlayerForm.get('duel.won')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Regates</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="dribble">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Total regates</ion-label>
              <ion-input placeholder="Ej: 8" type="number" formControlName="attempts" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('dribble.attempts')?.hasError('required') && addPlayerForm.get('dribble.attempts')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('dribble.attempts')?.hasError('maxDigitsExceeded')">
                Total regates no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('dribble.attempts')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Regate exitosos</ion-label>
              <ion-input placeholder="Ej: 7" type="number" formControlName="success" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('dribble.success')?.hasError('required') && addPlayerForm.get('dribble.success')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('dribble.success')?.hasError('maxDigitsExceeded')">
                Regate exitosos no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('dribble.success')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Regate pasados</ion-label>
              <ion-input placeholder="Ej: 4" type="number" formControlName="past" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('dribble.past')?.hasError('required') && addPlayerForm.get('dribble.past')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('dribble.past')?.hasError('maxDigitsExceeded')">
                Regate pasados no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('dribble.past')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Faltas</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="foul">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Faltas fuertes</ion-label>
              <ion-input placeholder="Ej: 7" type="number" formControlName="drawn" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('foul.drawn')?.hasError('required') && addPlayerForm.get('foul.drawn')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('foul.drawn')?.hasError('maxDigitsExceeded')">
                Faltas fuertes no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;" *ngIf="addPlayerForm.get('foul.drawn')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Faltas cometidas</ion-label>
              <ion-input placeholder="Ej: 0" type="number" formControlName="committed" maxlength="3">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('foul.committed')?.hasError('required') && addPlayerForm.get('foul.committed')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('foul.committed')?.hasError('maxDigitsExceeded')">
                Faltas cometidas no debe exceder los 3 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('foul.committed')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Cartas</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="card">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Tarjetas amarilla</ion-label>
              <ion-input placeholder="Ej: 5" type="number" formControlName="yellow" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('card.yellow')?.hasError('required') && addPlayerForm.get('card.yellow')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('card.yellow')?.hasError('maxDigitsExceeded')">
                Tarjetas amarilla no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('card.yellow')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Doble amarilla</ion-label>
              <ion-input placeholder="Ej: 1" type="number" formControlName="yellowred" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('card.yellowred')?.hasError('required') && addPlayerForm.get('card.yellowred')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('card.yellowred')?.hasError('maxDigitsExceeded')">
                Doble amarilla no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('card.yellowred')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Tarjetas rojas</ion-label>
              <ion-input placeholder="Ej: 2" type="number" formControlName="red" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('card.red')?.hasError('required') && addPlayerForm.get('card.red')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('card.red')?.hasError('maxDigitsExceeded')">
                Tarjetao rojas debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;" *ngIf="addPlayerForm.get('card.red')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>
          </div>
        </form>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="jugador-card" color="primary">
        <!-- <ion-icon name="person-add" class="jugador-icon"></ion-icon> -->
        <h2>Datos Penaltis</h2>
        <form [formGroup]="addPlayerForm">
          <div formGroupName="penalty">
            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Penalti ganados</ion-label>
              <ion-input placeholder="Ej: 3" type="number" formControlName="won" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.won')?.hasError('required') && addPlayerForm.get('penalty.won')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.won')?.hasError('maxDigitsExceeded')">
                Penalti ganados no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.won')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Penalti cometidos</ion-label>
              <ion-input placeholder="Ej: 6" type="number" formControlName="committed" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.committed')?.hasError('required') && addPlayerForm.get('penalty.committed')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.committed')?.hasError('maxDigitsExceeded')">
                Penalti cometidos no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.committed')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Penalti anotados</ion-label>
              <ion-input placeholder="Ej: 2" type="number" formControlName="scored" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.scored')?.hasError('required') && addPlayerForm.get('penalty.scored')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.scored')?.hasError('maxDigitsExceeded')">
                Penalti anotados no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.scored')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Penalti fallados</ion-label>
              <ion-input placeholder="Ej: 9" type="number" formControlName="missed" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.missed')?.hasError('required') && addPlayerForm.get('penalty.missed')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.missed')?.hasError('maxDigitsExceeded')">
                Penalti fallados no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.missed')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item counter="true" fill="outline" class="full-width">
              <ion-label position="floating">Penalti salvados</ion-label>
              <ion-input placeholder="Ej: 7" type="number" formControlName="saved" maxlength="2">
              </ion-input>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.saved')?.hasError('required') && addPlayerForm.get('penalty.saved')?.touched">
                {{ 'REQUIRED' | translate }}
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.saved')?.hasError('maxDigitsExceeded')">
                Penalti salvados no debe exceder los 2 caracteres.
              </ion-note>
              <ion-note slot="error" style="color: white;"
                *ngIf="addPlayerForm.get('penalty.saved')?.hasError('pattern')">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
            </ion-item>
          </div>

          <ion-button color="dark" [disabled]="addPlayerForm.invalid" (click)="addPlayer()" style="width: 100%;">Guardar
          </ion-button>
        </form>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>