<!-- player-list.component.html -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-item color="dark">
        <ion-label class="ion-text-center">Nombre</ion-label>
        <ion-label class="ion-text-center">Edad</ion-label>
        <ion-label class="ion-text-center">Posición</ion-label>
        <ion-label class="ion-text-center">Acción</ion-label>
      </ion-item>
      
      <ion-item *ngFor="let player of players" color="dark">
        <ion-label class="ion-text-center">{{ player.name }}</ion-label>
        <ion-label class="ion-text-center">{{ player.age }}</ion-label>
        <ion-label class="ion-text-center">{{ player.nationality }}</ion-label>
        <ion-label>
          <ion-buttons style="display: flex; flex-direction: row; justify-content: center;">
            <ion-button (click)="openModal(player.id)" fill="clear"><ion-icon name="search-outline"></ion-icon></ion-button>
            <ion-button (click)="deletePlayer(player.id)" fill="clear"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
    </ion-card>
</ion-content>