<ion-header class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()" color="dark">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Información del Usuario</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="updateUserForm">
    <ion-icon name="person-circle-outline" style="display: block; margin: 0 auto; font-size: 15rem;"></ion-icon>
    <ion-list>
      <ion-item counter="true" fill="outline" class="form">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input (input)="checkFirstName()" (keypress)="validateName($event)" formControlName="firstname"
          maxlength="30"></ion-input>
        <ion-note *ngIf="updateUserForm.controls['firstname'].hasError('pattern')" slot="error">
          {{ 'CHARACTER_NOT_ALLOWED' | translate }}
        </ion-note>
        <ion-note
          *ngIf="updateUserForm.controls['firstname'].hasError('required') && updateUserForm.get('firstname')?.touched"
          slot="error">
          {{ 'REQUIRED' | translate }}
        </ion-note>
      </ion-item>

      <ion-item counter="true" fill="outline" class="form">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input (input)="checkLastName()" (keypress)="validateName($event)" formControlName="lastname"
          maxlength="30"></ion-input>
        <ion-note *ngIf="updateUserForm.controls['lastname'].hasError('pattern')" slot="error">
          {{ 'CHARACTER_NOT_ALLOWED' | translate }}
        </ion-note>
        <ion-note
          *ngIf="updateUserForm.controls['lastname'].hasError('required') && updateUserForm.get('lastname')?.touched"
          slot="error">
          {{ 'REQUIRED' | translate }}
        </ion-note>
      </ion-item>

      <ion-item counter="true" fill="outline" class="form">
        <ion-label position="floating">Correo Electrónico o Usuario</ion-label>
        <ion-input (keypress)="validateEmail($event)" (input)="checkEmail()" formControlName="email"
          maxlength="50"></ion-input>
        <ion-note *ngIf="updateUserForm.controls['email'].hasError('pattern')" slot="error">
          {{ 'CHARACTER_NOT_ALLOWED' | translate }}
        </ion-note>
        <ion-note *ngIf="updateUserForm.controls['email'].hasError('required') && updateUserForm.get('email')?.touched"
          slot="error">
          {{ 'REQUIRED' | translate }}
        </ion-note>
      </ion-item>

      <ion-item counter="true" fill="outline" class="form">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input (keypress)="validatePassword($event)" (input)="checkPassword()" formControlName="password"
          maxlength="20">
        </ion-input>
        <ion-note *ngIf="updateUserForm.controls['password'].hasError('pattern')" slot="error">
          Contraseña inválido
        </ion-note>
      </ion-item>

      <ion-item counter="true" fill="outline" class="form">
        <ion-select label="Perfiles" placeholder="Selecciona una opción" formControlName="idProfile">
          <ion-select-option *ngFor="let profile of profiles"
            [value]="profile.id">{{profile.description}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button color="warning" [disabled]="updateUserForm.invalid" (click)="updateUser(updateUserForm.value)"
      class="save-information">Guardar
    </ion-button>
  </form>

</ion-content>

<!-- <ion-content class="no-header">
  <div class="profile-container-vertical">
    <div class="black-background-vertical">
      <ion-icon name="person-circle-outline" class="profile-icon-vertical"></ion-icon>
    </div>
    <div class="white-background-vertical">
      <form [formGroup]="updateUserForm">
        <ion-list>
          <ion-item counter="true" fill="outline" class="registerForm">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input (input)="checkFirstName()" (keypress)="validateName($event)" formControlName="firstname"
              maxlength="30"></ion-input>
          </ion-item>

          <ion-item counter="true" fill="outline" class="registerForm">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input (input)="checkLastName()" (keypress)="validateName($event)" formControlName="lastname"
              maxlength="30"></ion-input>
          </ion-item>

          <ion-item counter="true" fill="outline" class="registerForm">
            <ion-label position="floating">Correo Electrónico o Usuario</ion-label>
            <ion-input (keypress)="validateEmail($event)" (input)="checkEmail()" formControlName="email"
              maxlength="50"></ion-input>
            <ion-note *ngIf="updateUserForm.controls['email'].hasError('pattern')" slot="error">
              Correo Electrónico inválido
            </ion-note>
          </ion-item>

          <ion-item counter="true" fill="outline" class="registerForm">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input (keypress)="validatePassword($event)" (input)="checkPassword()" formControlName="password"
              maxlength="20">
            </ion-input>
            <ion-note *ngIf="updateUserForm.controls['password'].hasError('pattern')" slot="error">
              Contraseña inválido
            </ion-note>
          </ion-item>

          <ion-item counter="true" fill="outline" class="registerForm">
            <ion-select label="Perfiles" placeholder="Selecciona una opción" formControlName="idProfile">
              <ion-select-option *ngFor="let profile of profiles"
                [value]="profile.id">{{profile.description}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-button color="dark" [disabled]="updateUserForm.invalid" (click)="updateUser(updateUserForm.value)"
          class="save-information">Guardar
        </ion-button>
      </form>
    </div>
  </div>
</ion-content> -->