ion-card {
  padding: 10px;
  background-repeat: no-repeat;
  color: white;
}

div {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

ion-row {
  justify-content: space-between;
}

// * {
//     font-family: 'segoeui';
//   }