<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div>
    <form [formGroup]="formTeams">
      <ion-card color="danger" style="border-radius: 15px;">
        <div>Equipo</div>
        <ion-row>
          <ion-col col-6>
            <ion-item fill="outline">
              <ion-select interface="popover" placeholder="Seleccionar equipo" formControlName="idTeams1">
                <ion-select-option *ngFor="let team of teams1" [value]="team.id">{{team.name}}</ion-select-option>
              </ion-select>
              <!-- <ion-note *ngIf="formTeams.controls['idTeams'].hasError('required') && formTeams.get('idTeams')?.touched"
                      slot="error">
                      Equipo es requerido
                    </ion-note> -->
            </ion-item>
          </ion-col>

          <ion-col col-6>
            <ion-item fill="outline">
              <ion-select interface="popover" placeholder="Seleccionar equipo" formControlName="idTeams2">
                <ion-select-option *ngFor="let team of teams2" [value]="team.id">{{team.name}}</ion-select-option>
              </ion-select>
              <!-- <ion-note *ngIf="formTeams.controls['idTeams'].hasError('required') && formTeams.get('idTeams')?.touched"
                      slot="error">
                      Equipo es requerido
                    </ion-note> -->
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card color="danger" *ngIf="squads1.length !== 0 || squads2.length !== 0" style="border-radius: 15px;">
        <div>Jugador</div>
        <ion-row>
          <ion-col col-6 *ngIf="squads1.length !== 0">
            <ion-item fill="outline">
              <ion-select interface="popover" placeholder="Seleccionar jugador" formControlName="idSquad1">
                <ion-select-option *ngFor="let squad of squads1" [value]="squad.id">{{squad.number}} {{
                  squad.name }}</ion-select-option>
              </ion-select>
              <!-- <ion-note *ngIf="formTeams.controls['idSquad'].hasError('required') && formTeams.get('idSquad')?.touched"
                      slot="error">
                      Equipo es requerido
                    </ion-note> -->
            </ion-item>
          </ion-col>

          <ion-col col-6 *ngIf="squads2.length !== 0">
            <ion-item fill="outline">
              <ion-select interface="popover" placeholder="Seleccionar jugador" formControlName="idSquad2">
                <ion-select-option *ngFor="let squad of squads2" [value]="squad.id">{{squad.number}}
                  {{squad.name}}</ion-select-option>
              </ion-select>
              <!-- <ion-note *ngIf="formTeams.controls['idSquad'].hasError('required') && formTeams.get('idSquad')?.touched"
                      slot="error">
                      Equipo es requerido
                    </ion-note> -->
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>


      <ion-card *ngFor="let player of players1" color="danger" style="border-radius: 15px;">
        <ion-card-header>
          <ion-row>
            <ion-card-subtitle *ngFor="let player of players1">{{ player.name }}</ion-card-subtitle>
            <ion-card-subtitle *ngFor="let player of players2">{{ player.name }}</ion-card-subtitle>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <div *ngFor="let player of players1">Edad: {{ player.age }}</div>
            <div *ngFor="let player of players2">Edad: {{ player.age }}</div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Altura: {{ player.height }}</div>
            <div *ngFor="let player of players2">Altura: {{ player.height }}</div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Peso: {{ player.weight }}</div>
            <div *ngFor="let player of players2">Peso: {{ player.weight }}</div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Liga: {{ player.league.name }}</div>
            <div *ngFor="let player of players2">Liga: {{ player.league.name }}</div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Position: {{ player.game.position === 'Defender' ? 'Defensa' :
              player.game.position === 'Goalkeeper' ? 'Portero'
              :
              player.game.position === 'Midfielder' ? 'Centrocampista' : 'Delantero' }}
            </div>
            <div *ngFor="let player of players2">Position: {{ player.game.position === 'Defender' ? 'Defensa' :
              player.game.position === 'Goalkeeper' ? 'Portero'
              :
              player.game.position === 'Midfielder' ? 'Centrocampista' : 'Delantero' }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Tiros: {{ player.shot.total === null ? 0 : player.shot.total }} - {{
              player.shot.on === null ? 0 :
              player.shot.on }}
            </div>
            <div *ngFor="let player of players2">Tiros: {{ player.shot.total === null ? 0 : player.shot.total }} - {{
              player.shot.on === null ? 0 :
              player.shot.on }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Goles: {{ player.goal.total === null ? 0 : player.goal.total }} - {{
              player.goal.assists === null ?
              0
              : player.goal.assists }}
            </div>
            <div *ngFor="let player of players2">Goles: {{ player.goal.total === null ? 0 : player.goal.total }} - {{
              player.goal.assists === null ?
              0
              : player.goal.assists }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Pases: {{ player.passe.total === null ? 0 : player.passe.total }} -
              {{ player.passe.key === null ? 0
              :
              player.passe.key }} - {{ player.passe.accuracy === null ? 0 : player.passe.accuracy }}
            </div>
            <div *ngFor="let player of players2">Pases: {{ player.passe.total === null ? 0 : player.passe.total }} -
              {{ player.passe.key === null ? 0
              :
              player.passe.key }} - {{ player.passe.accuracy === null ? 0 : player.passe.accuracy }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Derribo: {{ player.tackle.total === null ? 0 : player.tackle.total }}
              - {{ player.tackle.blocks ===
              null ? 0 : player.tackle.blocks }} - {{ player.tackle.interceptions === null ? 0 :
              player.tackle.interceptions }}
            </div>
            <div *ngFor="let player of players2">Derribo: {{ player.tackle.total === null ? 0 : player.tackle.total }}
              - {{ player.tackle.blocks ===
              null ? 0 : player.tackle.blocks }} - {{ player.tackle.interceptions === null ? 0 :
              player.tackle.interceptions }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Dribles: {{ player.dribble.attempts === null ? 0 :
              player.dribble.attempts }} - {{
              player.dribble.success === null ? 0 : player.dribble.success }} - {{ player.dribble.past === null ? 0 :
              player.dribble.past }}
            </div>
            <div *ngFor="let player of players2">Dribles: {{ player.dribble.attempts === null ? 0 :
              player.dribble.attempts }} - {{
              player.dribble.success === null ? 0 : player.dribble.success }} - {{ player.dribble.past === null ? 0 :
              player.dribble.past }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Fouls: {{ player.foul.drawn === null ? 0 : player.foul.drawn }} - {{
              player.foul.committed === null
              ?
              0 : player.foul.committed }}
            </div>
            <div *ngFor="let player of players2">Foul: {{ player.foul.drawn === null ? 0 : player.foul.drawn }} - {{
              player.foul.committed === null
              ?
              0 : player.foul.committed }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Cartas (A - S - R): {{ player.card.yellow === null ? 0 :
              player.card.yellow }} - {{
              player.card.yellowred === null ? 0 : player.card.yellowred }} - {{ player.card.red === null ? 0 :
              player.card.red }}
            </div>
            <div *ngFor="let player of players2">Cartas (A - S - R): {{ player.card.yellow === null ? 0 :
              player.card.yellow }} - {{
              player.card.yellowred === null ? 0 : player.card.yellowred }} - {{ player.card.red === null ? 0 :
              player.card.red }}
            </div>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card color="danger" style="border-radius: 15px;" *ngIf="players1.length !== 0 || players2.length !== 0">
        <ion-buttons color="light">
          <ion-button (click)="chart('bar')">
            <ion-icon name="stats-chart-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="chart('pie')">
            <ion-icon name="pie-chart-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-card-content>
          <div *ngIf="players1.length !== 0" style="position: relative; margin: auto; height: 300;">
            <canvas id="chart1" #chart1></canvas>
          </div>

          <div *ngIf="players2.length !== 0" style="position: relative; margin: auto; height: 300;">
            <canvas id="chart2" #chart2></canvas>
          </div>
        </ion-card-content>

      </ion-card>
    </form>

  </div>
</ion-content>