<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="profile === 2">
      <ion-button [routerLink]="'/chat-bot'"><ion-icon name="chatbox-ellipses-outline"></ion-icon></ion-button>
      <ion-button (click)="logout()"><ion-icon name="log-out-outline" class="icon"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div>
    <form [formGroup]="formTeams">
      <ion-card color="danger" style="border-radius: 15px;">
        <div>Equipo</div>
        <ion-row>
          <ion-col col-6>
            <ion-item fill="outline">
              <ion-select placeholder="Seleccionar equipo" formControlName="idTeams1">
                <ion-select-option *ngFor="let team of teams1" [value]="team.id">{{team.name}}</ion-select-option>
              </ion-select>
              <!-- <ion-note *ngIf="formTeams.controls['idTeams'].hasError('required') && formTeams.get('idTeams')?.touched"
                      slot="error">
                      Equipo es requerido
                    </ion-note> -->
            </ion-item>
          </ion-col>

          <ion-col col-6>
            <ion-item fill="outline">
              <ion-select placeholder="Seleccionar equipo" formControlName="idTeams2">
                <ion-select-option *ngFor="let team of teams2" [value]="team.id">{{team.name}}</ion-select-option>
              </ion-select>
              <!-- <ion-note *ngIf="formTeams.controls['idTeams'].hasError('required') && formTeams.get('idTeams')?.touched"
                      slot="error">
                      Equipo es requerido
                    </ion-note> -->
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card color="danger" *ngIf="squads1.length !== 0 || squads2.length !== 0" style="border-radius: 15px;">
        <div>Jugador</div>
        <ion-row>
          <ion-col col-6 *ngIf="squads1.length !== 0">
            <ion-item fill="outline">
              <ion-select placeholder="Seleccionar jugador" formControlName="idSquad1">
                <ion-select-option *ngFor="let squad of squads1" [value]="squad.id">{{squad.number}} {{
                  squad.name }}</ion-select-option>
              </ion-select>
              <!-- <ion-note *ngIf="formTeams.controls['idSquad'].hasError('required') && formTeams.get('idSquad')?.touched"
                      slot="error">
                      Equipo es requerido
                    </ion-note> -->
            </ion-item>
          </ion-col>

          <ion-col col-6 *ngIf="squads2.length !== 0">
            <ion-item fill="outline">
              <ion-select placeholder="Seleccionar jugador" formControlName="idSquad2">
                <ion-select-option *ngFor="let squad of squads2" [value]="squad.id">{{squad.number}}
                  {{squad.name}}</ion-select-option>
              </ion-select>
              <!-- <ion-note *ngIf="formTeams.controls['idSquad'].hasError('required') && formTeams.get('idSquad')?.touched"
                      slot="error">
                      Equipo es requerido
                    </ion-note> -->
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>


      <ion-card *ngIf="players1.length !== 0 || players2.length !== 0" color="danger" style="border-radius: 15px;">
        <ion-card-header>
          <ion-row>
            <ion-card-title *ngFor="let player of players1">{{ player.name }}</ion-card-title>
            <ion-card-title *ngFor="let player of players2">{{ player.name }}</ion-card-title>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <div *ngFor="let player of players1">Edad: {{ player.age }}</div>
            <div *ngFor="let player of players2">Edad: {{ player.age }}</div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Altura: {{ player.height }}</div>
            <div *ngFor="let player of players2">Altura: {{ player.height }}</div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Peso: {{ player.weight }}</div>
            <div *ngFor="let player of players2">Peso: {{ player.weight }}</div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Liga: {{ player.league.name }}</div>
            <div *ngFor="let player of players2">Liga: {{ player.league.name }}</div>
          </ion-row>

          <!-- Posición -->
          <ion-row>
            <div *ngFor="let player of players1">Patidos jugados: {{ player.game.appearences }}
            </div>
            <div *ngFor="let player of players2">Patidos jugados: {{ player.game.appearences }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Titularidades: {{ player.game.lineups }}
            </div>
            <div *ngFor="let player of players2">Titularidades: {{ player.game.lineups }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Minutos jugados: {{ player.game.minutes }}
            </div>
            <div *ngFor="let player of players2">Minutos jugados: {{ player.game.minutes }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Dorsal: {{ player.game.number }}
            </div>
            <div *ngFor="let player of players2">Dorsal: {{ player.game.number }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Posición: {{ player.game.position }}
            </div>
            <div *ngFor="let player of players2">Posición: {{ player.game.position }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Valoración: {{ player.game.rating }}
            </div>
            <div *ngFor="let player of players2">Valoración: {{ player.game.rating }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Capitan: {{ player.game.captain === false ? 'No' : 'Si' }}
            </div>
            <div *ngFor="let player of players2">Capitan: {{ player.game.captain === false ? 'No' : 'Si' }}
            </div>
          </ion-row>

          <!-- Disparos -->
          <div>Disparos</div>
          <ion-row>
            <div *ngFor="let player of players1">Disparos totales: {{ player.shot.total === null ? 0 : player.shot.total
              }}</div>
            <div *ngFor="let player of players2">Disparos totales: {{ player.shot.total === null ? 0 : player.shot.total
              }}</div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Disparos al arcos: {{ player.shot.on === null ? 0 : player.shot.on }}
            </div>
            <div *ngFor="let player of players2">Disparos al arcos: {{ player.shot.on === null ? 0 : player.shot.on }}
            </div>
          </ion-row>

          <!-- Goles -->
          <div>Goles</div>
          <ion-row>
            <div *ngFor="let player of players1">Goles totales: {{ player.goal.total === null ? 0 : player.goal.total }}
            </div>
            <div *ngFor="let player of players2">Goles totales: {{ player.goal.total === null ? 0 : player.goal.total }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Asistencias: {{ player.goal.assists === null ? 0 : player.goal.assists
              }}
            </div>
            <div *ngFor="let player of players2">Asistencias: {{ player.goal.assists === null ? 0 : player.goal.assists
              }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Recibidos: {{ player.goal.conceded === null ? 0 : player.goal.conceded
              }}
            </div>
            <div *ngFor="let player of players2">Recibidos: {{ player.goal.conceded === null ? 0 : player.goal.conceded
              }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Salvados: {{ player.goal.saves === null ? 0 : player.goal.saves }}
            </div>
            <div *ngFor="let player of players2">Salvados: {{ player.goal.saves === null ? 0 : player.goal.saves }}
            </div>
          </ion-row>

          <!-- Sustitutos -->
          <div>Sustitutos</div>
          <ion-row>
            <div *ngFor="let player of players1">Ingresos: {{ player.substitute.in === null ? 0 : player.substitute.in
              }}
            </div>
            <div *ngFor="let player of players2">Ingresos: {{ player.substitute.in === null ? 0 : player.substitute.in
              }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Sustituidos: {{ player.substitute.out === null ? 0 :
              player.substitute.out }}
            </div>
            <div *ngFor="let player of players2">Sustituidos: {{ player.substitute.out === null ? 0 :
              player.substitute.out }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Banqueados: {{ player.substitute.bench === null ? 0 :
              player.substitute.bench }}
            </div>
            <div *ngFor="let player of players2">Banqueados {{ player.substitute.bench === null ? 0 :
              player.substitute.bench }}
            </div>
          </ion-row>

          <!-- Pases -->
          <div>Pases</div>
          <ion-row>
            <div *ngFor="let player of players1">Pases totales: {{ player.passe.total === null ? 0 : player.passe.total
              }}
            </div>
            <div *ngFor="let player of players2">Pases totales: {{ player.passe.total === null ? 0 : player.passe.total
              }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Pases claves: {{ player.passe.key === null ? 0 : player.passe.key }}
            </div>
            <div *ngFor="let player of players2">Pases claves: {{ player.passe.key === null ? 0 : player.passe.key }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Precisión del pase: {{ player.passe.accuracy === null ? 0 :
              player.passe.accuracy }}
            </div>
            <div *ngFor="let player of players2">Precisión del pase {{ player.passe.accuracy === null ? 0 :
              player.passe.accuracy }}
            </div>
          </ion-row>

          <!-- Entradas -->
          <div>Entradas</div>
          <ion-row>
            <div *ngFor="let player of players1">Entradas totales: {{ player.tackle.total === null ? 0 :
              player.tackle.total }}
            </div>
            <div *ngFor="let player of players2">Entradas totales: {{ player.tackle.total === null ? 0 :
              player.tackle.total }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Entradas bloqueadas: {{ player.tackle.blocks === null ? 0 :
              player.tackle.blocks }}
            </div>
            <div *ngFor="let player of players2">Entradas bloqueadas: {{ player.tackle.blocks === null ? 0 :
              player.tackle.blocks }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Intercepción del pase: {{ player.tackle.interceptions === null ? 0 :
              player.tackle.interceptions }}
            </div>
            <div *ngFor="let player of players2">Intercepción del pase: {{ player.tackle.interceptions === null ? 0 :
              player.tackle.interceptions }}
            </div>
          </ion-row>

          <!-- Regates -->
          <div>Regates</div>
          <ion-row>
            <div *ngFor="let player of players1">Intentos de regate: {{ player.dribble.attempts === null ? 0 :
              player.dribble.attempts }}
            </div>
            <div *ngFor="let player of players2">Intentos de regate: {{ player.dribble.attempts === null ? 0 :
              player.dribble.attempts }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Regates exitosos: {{ player.dribble.success === null ? 0 :
              player.dribble.success }}
            </div>
            <div *ngFor="let player of players2">Regates exitosos: {{ player.dribble.success === null ? 0 :
              player.dribble.success }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Regates pasados: {{ player.dribble.past === null ? 0 :
              player.dribble.past }}
            </div>
            <div *ngFor="let player of players2">Regates pasados: {{ player.dribble.past === null ? 0 :
              player.dribble.past }}
            </div>
          </ion-row>

          <!-- Duelos -->
          <div>Duelos</div>
          <ion-row>
            <div *ngFor="let player of players1">Duelos totales: {{ player.duel.total === null ? 0 : player.duel.total
              }}
            </div>
            <div *ngFor="let player of players2">Duelos totales: {{ player.duel.total === null ? 0 : player.duel.total
              }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Duelos ganados: {{ player.duel.won === null ? 0 :
              player.duel.won }}
            </div>
            <div *ngFor="let player of players2">Duelos ganados: {{ player.duel.won === null ? 0 :
              player.duel.won }}
            </div>
          </ion-row>

          <!-- Faltas -->
          <div>Faltas</div>
          <ion-row>
            <div *ngFor="let player of players1">Faltas sucia: {{ player.foul.drawn === null ? 0 : player.foul.drawn }}
            </div>
            <div *ngFor="let player of players2">Faltas sucia: {{ player.foul.drawn === null ? 0 : player.foul.drawn }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Faltas cometidas: {{ player.foul.committed === null ? 0 :
              player.foul.committed }}
            </div>
            <div *ngFor="let player of players2">Faltas cometidas: {{ player.foul.committed === null ? 0 :
              player.foul.committed }}
            </div>
          </ion-row>

          <!-- Tarjetas -->
          <div>Tarjetas</div>
          <ion-row>
            <div *ngFor="let player of players1">Tarjetas amarilla: {{ player.card.yellow === null ? 0 :
              player.card.yellow }}
            </div>
            <div *ngFor="let player of players2">Tarjetas amarilla: {{ player.card.yellow === null ? 0 :
              player.card.yellow }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Doble amarilla: {{ player.card.yellowred === null ? 0 :
              player.card.yellowred }}
            </div>
            <div *ngFor="let player of players2">Doble amarilla: {{ player.card.yellowred === null ? 0 :
              player.card.yellowred }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Tarjetas rojas: {{ player.card.red === null ? 0 : player.card.red }}
            </div>
            <div *ngFor="let player of players2">Tarjetas rojas: {{ player.card.red === null ? 0 : player.card.red }}
            </div>
          </ion-row>

          <!-- Penaltis -->
          <div>Penaltis</div>
          <ion-row>
            <div *ngFor="let player of players1">Penales ganados: {{ player.penalty.won === null ? 0 :
              player.penalty.won }}
            </div>
            <div *ngFor="let player of players2">Penales ganados: {{ player.penalty.won === null ? 0 :
              player.penalty.won }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Penales cometidos: {{ player.penalty.committed === null ? 0 :
              player.penalty.committed }}
            </div>
            <div *ngFor="let player of players2">Penales cometidos: {{ player.penalty.committed === null ? 0 :
              player.penalty.committed }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Penaltis marcados: {{ player.penalty.scored === null ? 0 :
              player.penalty.scored }}
            </div>
            <div *ngFor="let player of players2">Penaltis marcados: {{ player.penalty.scored === null ? 0 :
              player.penalty.scored }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Penaltis fallados: {{ player.penalty.missed === null ? 0 :
              player.penalty.missed }}
            </div>
            <div *ngFor="let player of players2">Penaltis fallados: {{ player.penalty.missed === null ? 0 :
              player.penalty.missed }}
            </div>
          </ion-row>
          <ion-row>
            <div *ngFor="let player of players1">Penaltis parados: {{ player.penalty.saved === null ? 0 :
              player.penalty.saved }}
            </div>
            <div *ngFor="let player of players2">Penaltis parados: {{ player.penalty.saved === null ? 0 :
              player.penalty.saved }}
            </div>
          </ion-row>

        </ion-card-content>
      </ion-card>

      <ion-card color="danger" style="border-radius: 15px;" *ngIf="players1.length !== 0 || players2.length !== 0">
        <ion-buttons color="light">
          <ion-button (click)="chart('bar')">
            <ion-icon name="stats-chart-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="chart('pie')">
            <ion-icon name="pie-chart-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-card-content>
          <div *ngIf="players1.length !== 0" style="position: relative; margin: auto; height: 300;">
            <canvas id="chart1" #chart1></canvas>
          </div>

          <div *ngIf="players2.length !== 0" style="position: relative; margin: auto; height: 300;">
            <canvas id="chart2" #chart2></canvas>
          </div>
        </ion-card-content>

      </ion-card>
    </form>

  </div>
</ion-content>